.site-footer {
  background-color: #375BD2;
  color: white;
  position: fixed;


}


  /*
  .footer-social-links {
    text-align: left;

    ul.social-links-list {
      li {
        //margin-right: 25px;
        display: inline-block;

        a {
          color: $white;

          &.instagram:hover {
            color: #e95950;
          }
          &.facebook:hover {
            color: rgb(66, 103, 178);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.google:hover {
            color: rgb(221, 75, 57);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
        }
      }
    }
  }

}
*/
